################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Practice/.vs/Practice/v16
/Practice/Practice/bin/Debug/netcoreapp3.1
/Practice/Practice/obj
/Practice/Practice/wwwroot
